ul {
  margin: 0;
  padding: 0;
  display: flex;
  padding: 16px;
}

li {
  margin-right: 16px;
  list-style: none;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
}

main {
  padding: 16px;
}
